$sacramento: 'Sacramento', cursive;
$alice: 'Alice', serif;
$marck: 'Marck Script', cursive;
$paris: 'Parisienne', cursive;

$lavanda: #D1C8FF ;
$lila: #cc59d2;
$light-purple: RGB(172, 48, 241);
$dark-purple: #3c096e;
$dark-purple2: #5E3C60;


//Paleta lilas
$color1: #E2CCE0;
$color2: #82747D;
$color3: #423156;
$color4: #342B47;
$color5: #262147;
$color6: #121826;
