#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Header*/ 
.main_header {
  height: 3em;
  align-self: center;


}

.main_header img {
  height: 100%;
}

/*Challenge List */

.challenge_list_container {
  display: flex;
}
.challenge_title {
  font-family: 'Itim', cursive;
  font-size: 1.5em;
  padding-left: 2em;
}

.challenge_description {
  color: purple;
}